
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>*@
@model IEnumerable<SiteLoja.Models.Usuario>

<form id="form-login">
    <input type="text" id="username" name="username" placeholder="Nome de usuário" />
    <input type="password" id="senha" name="senha" placeholder="Senha" />
    <button type="button" onclick="logar()">Entrar</button>
</form>

<script>
        function logar() {
            var username = $('#username').val();
            var senha = $('#senha').val();

            $.ajax({
                url: '@Url.Action("Logar", "Autenticacao")',
                type: 'POST',
                data: { username: username, senha: senha },
                success: function (result) {
                    if (result.success) {
                        alert(result.message);
                        // Redirecionar para a página desejada após o login bem-sucedido
                    } else {
                        alert(result.message);
                    }
                }
            });
        }
    </script>




